1. Display the ascii art
2. Import random module and generate 2 random numbers
2.1 using random numbers pull out 2 diff char from the list from game_data.py

3. create a starting value for Current score = 0
4. display "You're right! Current score: "
5. take input with the prompt "Who has more followers? Type 'A' or 'B'"
6.